<hibernate-configuration>
    <session-factory>
        <!--  Database connection settings  -->
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/hibernateTestDB</property>
        <property name="connection.username">vellu</property>
        <property name="connection.password">123456</property>
        <!--  SQL dialect  -->
        <property name="dialect">org.hibernate.dialect.MariaDB103Dialect</property>
        <!--  Disable the second-level cache   -->
        <property name="cache.provider_class">org.hibernate.cache.internal.NoCacheProvider</property>
        <!--  Echo all executed SQL to stdout  -->
        <property name="show_sql">true</property>
        <!--  Drop and re-create the database schema on startup  -->
        <property name="hbm2ddl.auto">update</property>
        <!--  Names the annotated entity class  -->
        <mapping class="cz.vellus.crmapp3.model.Person"/>
    </session-factory>
</hibernate-configuration>
